.quoteSection{
    background-color: var(--color-midnight);
    padding:3rem;

    h2{
        font-size:2rem;
        color: var(--color-sand20);
    }
    p{
        color: var(--color-sand20);
       
    }
}
