.quoteSection{
    background-color: var(--color-midnight);
    padding: 3rem;
    font-family: var(--font-sans);
    display: flex;

    h2, p {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    h2{
        font-size:3.5rem;
        color: var(--color-sand20);
        display: flex;
        flex-direction: column;  
    }
    p{
        color: var(--color-sand20);
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-top: auto;     
    }
}
.quoteDiscription{
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
    line-height: 1.7rem;
}
