.faqSection {
    background: linear-gradient(to bottom, #1c1f2a, #1F2A44 );
    font-family: var(--font-sans);
    padding: 3rem;
    display: flex;
    flex-direction: column;
}
.faqHeading{
    padding-top: 3rem;
    text-align: left;
    color: var(--color-sand20);
}
.underline{
    border: none;
    border-top: 1px solid var(--color-sand40);
    margin: 3rem 0;
}
.faqContent{
    display: flex;
    flex-direction: row;
}
.questionsContainer{
    display: flex;
    flex-direction: column;
    width: 400px;
}
.button{
    margin: 0 3rem 3rem 0;
    height: 3.5rem;
    padding-left: 1rem;
    text-align: start;
    border-radius: 5px;
    font-size: 1rem;

}
.faqImageContainer{
   align-items: end;
}


