:root {
  --font-sans: Arial, sans-serif;
  --font-serif: Georgia, serif;

  --color-darkblue: #1f2a44;
  --color-dimblue: #8e9fbc;
  --color-seablue: #b9d3dc;
  --color-yellow: #e6b730;
  --color-sand: #c5b9ac;
  --color-sand40: #e7e2dd;
  --color-sand20: #f2f0ed;
  --color-midnight: #1c1f2a;
}

.thankYouContainer {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--color-darkblue);
  color: var(--color-sand40);
}

.goBack {
  position: absolute;
  top: 0;
  left: 0;
  margin: 16px;
  padding: 1rem;
}

.goBackBtn {
  width: 7rem;
  height: 2.8rem;
  border-radius: 5px;
  border: none;
  font-family: var(--font-sans);
  font-weight: bold;
  font-size: 0.9rem;
}

.headerThankYou {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

.titleThankYou {
  color: var(--color-sand40);
  font-family: var(--font-sans);
}

.progressBarSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.getDiploma {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  color: var(--color-sand40);
}

.getDiploma h3 {
  max-width: 55%;
  padding: 1rem;
}

#getDiplomaBtn {
  width: 16rem;
  height: 2.8rem;
  border-radius: 5px;
  border: none;
  font-family: var(--font-sans);
  font-weight: bold;
  font-size: 0.9rem;
}
