:root {
  --font-sans: Arial, sans-serif;
  --font-serif: Georgia, serif;

  --color-darkblue: #1f2a44;
  --color-dimblue: #8e9fbc;
  --color-seablue: #b9d3dc;
  --color-yellow: #e6b730;
  --color-sand: #c5b9ac;
  --color-sand40: #e7e2dd;
  --color-sand20: #f2f0ed;
  --color-midnight: #1c1f2a;
}

.thankYouContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--color-darkblue);
  color: var(--color-sand40);
}
.navbarGoBack {
  padding: 2rem;
}

.goBackBtn {
}

.headerThankYou {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.titleThankYou {
  color: var(--color-sand40);
  font: ;
}

.progressBarSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.progressBarSection p,
h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-sand40);
}

#getDiplomaBtn {
}
