.donationSection {
  position: relative;
  width: 100%;
  height: auto;
}

.fullImage {
  width: 100%;
  height: auto;
  display: block;
}

.checkoutBox {
  position: absolute;
  top: 200px;
  left: 300px;
  height:auto;
  background-color: var(--color-midnight);
  padding: 3rem;
  z-index: 2;
  width: clamp(220px, 30vw, 500px);
  box-sizing: border-box;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  transition: all 0.3s cubic-bezier(.4,0,.2,1);
}


@media (max-width: 1550px) {
  .checkoutBox { top: 100px; left: 132px; }
}
@media (max-width: 1400px) {
  .checkoutBox { top: 80px; left: 132px; }
}
@media (max-width: 1300px) {
  .checkoutBox {
    position: static;
    top: auto;
    left: auto;
    width: clamp(220px, 98vw, 600px); 
    max-width: 600px;
    min-width: 140px;
    border-radius: 10px;
    font-size: clamp(0.9rem, 3vw, 1.15rem);
    padding: clamp(1rem, 4vw, 2rem) clamp(1.2rem, 7vw, 2.5rem);
    margin: 18px auto 0 auto;
    box-shadow: 0 4px 24px rgba(0,0,0,0.10);
    z-index: 2;
  }
  .fullImage { margin-bottom: 18px; }
}
@media (max-width: 1024px) {
  .checkoutBox { top: 40px; left: 24px; }
}
@media (max-width: 900px) {
  .checkoutBox { top: 10px; left: 5px; }
}

@media (max-width: 768px) {
  .checkoutBox {
    position: static;
    top: auto;
    left: auto;
    width: clamp(220px, 98vw, 600px); 
    max-width: 600px;
    min-width: 140px  
  }
  .fullImage { margin-bottom: 18px; }
}
@media (max-width: 480px) {
  .checkoutBox {
    width: 99vw;
    max-width: 99vw;
    min-width: 100px;
    font-size: clamp(0.85rem, 4vw, 1.05rem);
    padding: clamp(0.7rem, 3vw, 1.2rem) clamp(0.7rem, 5vw, 1.5rem);
  }
  .fullImage { margin-bottom: 10px; }
}

.heading {
  color: var(--color-sand20);
  font-family: var(--font-sans);
  margin-bottom: clamp(0.5rem, 2vw, 1.2rem);
  font-size: clamp(1.4rem, 3vw, 1.7rem);
  font-weight: bold;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: clamp(0.3rem, 1vw, 0.7rem);
  font-family: var(--font-sans);
  background-color: var(--color-sand20);
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  padding: clamp(0.3rem, 1vw, 0.8rem);
}

.radioItem {
  padding: clamp(0.6rem, 1vw, 1.1rem);
  border-bottom: 1px solid var(--color-darkblue);
}

.radioItem:last-child {
  border-bottom: none;
}

.input {
  margin-left: clamp(0.3rem, 1vw, 0.5rem);
  border-radius: 2px;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  padding:0.5rem;
}

.optionalAmount {
  display: flex;
  align-items: center;
  gap: 3px; 
}

.button {
  margin-top: clamp(0.7rem, 1vw, 1.2rem);
  background: var(--color-sand20);
  color: var(--color-darkblue);
  border: none;
  padding: clamp(0.4rem, 1vw, 0.8rem) clamp(0.9rem, 2vw, 1.7rem);
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: clamp(1rem, 2vw, 1.15rem);
  transition: font-size 0.3s, padding 0.3s;
}

.swishSample {
  width: clamp(110px, 40vw, 200px);
}
