.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:var(--color-darkblue);
  padding: 1rem 2rem;
  color: white;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  background: white;
  padding: 4px;
}

.navLinks {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 0.95rem;
  font-family: var(--font-sans);
}

.link:hover {
  text-decoration: underline;
}

.divider {
  color: gray;
}

.languageToggle {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  user-select: none;
}

.icon {
  color: white;
}

.languageIcon{
  font-family: 'Material Symbols Outlined';
  font-size: 24px;
  color:var(--color-sand20);
}

.dropdown {
  position: absolute;
  top: 2rem;
  right: 0;
  background-color:var(--color-sand);
  color: var(--color-darkblue);
  list-style: none;
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  width: 80px;
  z-index: 1000;
}

.dropdown li {
  padding: 8px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: var(--color-darkblue);
  color: var(--color-sand); ;
}

