.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:var(--color-darkblue);
  padding: 2rem 3rem;
  color: var(--color-sand20);
  font-family: var(--font-sans);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 70px;
  padding: 4px;
  filter: invert(100%);
}

.navLinks {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 0.95rem;
}

.link:hover {
  text-decoration: underline;
}

.divider {
  color: gray;
}

.languageToggle {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  user-select: none;
}

.icon {
  color: white;
}




