@font-face {
  font-family: 'Arial Light';
  src: url('../../assets/fonts/ARIALI.TTF') format('truetype'); 
  font-weight: normal; 
  font-style: normal; 
}

@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/georgia.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal; 
}

@font-face {
  font-family: 'Georgia light';
  src: url('../../assets/fonts/sd-georgia-light.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal; 
}


:root {
  --font-sans: Arial, sans-serif;
  --font-serif: Georgia, serif;
  --font-sans-light : Arial Light , sans-serif;
  --font-serif-light : Georgia light, serif;

  --color-darkblue: #1F2A44;
  --color-dimblue: #8E9FBC;
  --color-seablue: #B9D3DC;
  --color-yellow: #e6B730;
  --color-sand: #C5B9AC;
  --color-sand40: #e7e2dd;
  --color-sand20 : #f2f0ed;
  --color-midnight : #1c1f2a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;  
  color: inherit; /*remove later*/
}
