.progressContainer {
  height: 6rem;
  width: 100%;
  max-width: 30rem;
  margin: 1rem auto;
  text-align: center;
}

.progressParagraph {
  margin-bottom: 1rem;
  font-style: italic;
}

.progressBackground {
  width: 100%;
  background: white;
  border-radius: 20px;
  height: 24px;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.progressFill {
  height: 100%;
  background: linear-gradient(90deg, yellow, black);
  width: 0;
  transition: width 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.progressAmounts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progressRaised {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.progressGoal {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.percent {
  font-size: 1rem;
  color: white;
  font-weight: bold;
}
