.progressContainer {
  height: 1.5rem;
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
  text-align: center;
}

.progressLabel {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.progressBackground {
  width: 100%;
  background: white;
  border-radius: 20px;
  height: 24px;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.progressFill {
  height: 100%;
  background: linear-gradient(90deg, yellow, black);
  width: 0;
  transition: width 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.percent {
  font-size: 1rem;
  color: white;
  font-weight: bold;
}
