.banner {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .fullImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(5, 5, 5, 0.212) 30%, 
      #1c1f2a 90%            
    );
    z-index: 1;
  }
  
  
  .textBox {
    position: absolute;
    right:8%;
    top: 65%; /* Slightly below center */
    transform: translateY(-50%);
    border-radius: 4px;
    z-index: 2;
  }
  
  .text {
    color: var(--color-sand20);
    font-size: 4.5rem;
    font-weight:bolder;
    font-family: var(--font-sans);
    margin: 0;
  
  }
  
  @media (max-width: 768px) {
    .banner {
      height: 40vh;
      padding: var(--spacing-medium);
    }
  
    .textBox {
      top: 65%;
      right: var(--spacing-medium);
      padding: var(--spacing-xsmall) var(--spacing-small);
    }
  
    .text {
      font-size: 1.5rem;
    }
  }
  